.build/*
!.build/debug
!.build/arm64-apple-macosx/
.build/arm64-apple-macosx/*
!.build/arm64-apple-macosx/debug
.swiftpm/
dist/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
.DS_Store
